body {
  background: #FAE7F3;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 100vh;
}

.calculator {
  background: #FFF7F3;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.display {
  background: #FFE7E7;
  color: #333;
  font-size: 2rem;
  padding: 20px;
  border-radius: 15px;
  text-align: right;
  margin-bottom: 20px;
  overflow-x: auto;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.button {
  background: #E6B2BA;
  color: #333;
  border: none;
  border-radius: 50%;
  padding: 0.75rem;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: 100%;
  aspect-ratio: 1;
  box-sizing: border-box;
}

.button:hover {
  background: #ba6882;
}

.button:active {
  transform: scale(0.95);
}

.button.equal {
  background: #D17D98;
  color: white;
  border-radius: 25px;
}

.button.operation {
  background: #C599B6;
  color: white;
}

.button.operation:hover {
  background: #99627A;
}

.button.equal:hover {
  background: #A53860;
}